page-home {
        #HomePageButtons {
            display: flex;
            
            flex-direction: row;
            
        }

        #HomePageButtons button{
            
            margin-right: 5px;
        }
        
}
